# Core data manipulation
pandas
geopandas
shapely
plotly
shap

# Web Scraping & Browser Automation
requests
beautifulsoup4
lxml
selenium
undetected-chromedriver
selenium-stealth
webdriver-manager

# Special Case: Playwright
# On osx-arm64, it is highly recommended to install via conda-forge 
# or ensure pip has access to the latest wheels.
playwright