# Core data manipulation
pandas
geopandas
shapely
functools
plotly
shap

# Web Scraping & Browser Automation
requests
beautifulsoup4
lxml
selenium
undetected-chromedriver
selenium-stealth
webdriver-manager
playwright
